html, body{
    background-color: #ededed;
    margin: 0;
    padding: 0;
    font-family: baloo bhai;
}

h1.titre{
	border: 2px solid red;
	width: 140px;
	margin: auto;
	margin-top: 20px;
}

h2.text1{
	font-family: gugi;
}

hr{
	width: 1200px;
	opacity: 0.4;
}